<div class="menu-item">
    <a class="menu-link" href="/">
        <span class="menu-icon">
            <i class="bi bi-house fs-3"></i>
        </span>
        <span class="menu-title">داشبورد</span>
    </a>
</div>
<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
    <span class="menu-link">
        <span class="menu-icon">
            <i class="bi bi-person fs-3"></i>
        </span>
        <span class="menu-title">کاربران</span>
        <span class="menu-arrow"></span>
    </span>
    <div class="menu-sub menu-sub-accordion">
        <div class="menu-item">
            <a class="menu-link" href="/customers">
                <span class="menu-icon">
                    <i class="bi bi-person-lines-fill fs-3"></i>
                </span>
                <span class="menu-title">نمایش همه</span>
            </a>
        </div>
    </div>
</div>
<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
    <span class="menu-link">
        <span class="menu-icon">
            <i class="bi bi-rss fs-3"></i>
        </span>
        <span class="menu-title">محتوی</span>
        <span class="menu-arrow"></span>
    </span>
    <div class="menu-sub menu-sub-accordion">
        <div class="menu-item">
            <a class="menu-link" href="/faqs">
                <span class="menu-icon">
                    <i class="bi bi-patch-question fs-3"></i>
                </span>
                <span class="menu-title">سوالات متداول</span>
            </a>
        </div>
    </div>
</div>
<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
    <span class="menu-link">
        <span class="menu-icon">
            <i class="bi bi-terminal fs-3"></i>
        </span>
        <span class="menu-title">تراکنش ها</span>
        <span class="menu-arrow"></span>
    </span>
    <div class="menu-sub menu-sub-accordion">
        <div class="menu-item">
            <a class="menu-link" href="/transactions">
                <span class="menu-icon">
                    <i class="bi bi-ui-checks-grid fs-3"></i>
                </span>
                <span class="menu-title">نمایش همه</span>
            </a>
        </div>
    </div>
</div>
<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
    <span class="menu-link">
        <span class="menu-icon">
            <i class="bi bi-life-preserver fs-3"></i>
        </span>
        <span class="menu-title">پشتیبانی</span>
        <span class="menu-arrow"></span>
    </span>
    <div class="menu-sub menu-sub-accordion">
        <div class="menu-item">
            <a class="menu-link" href="/tickets">
                <span class="menu-icon">
                    <i class="bi bi-chat-square-text fs-3"></i>
                </span>
                <span class="menu-title">لیست تیکت ها</span>
            </a>
        </div>
    </div>
</div>
<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
    <span class="menu-link">
        <span class="menu-icon">
            <i class="bi bi-shield-lock fs-3"></i>
        </span>
        <span class="menu-title">مدیریت پنل</span>
        <span class="menu-arrow"></span>
    </span>
    <div class="menu-sub menu-sub-accordion">
        <div class="menu-item">
            <a class="menu-link" href="/users">
                <span class="menu-icon">
                    <i class="bi bi-person fs-3"></i>
                </span>
                <span class="menu-title">کاربران ادمین</span>
            </a>
        </div>
        <div class="menu-item">
            <a class="menu-link" href="/roles">
                <span class="menu-icon">
                    <i class="bi bi-shield-check fs-3"></i>
                </span>
                <span class="menu-title">دسترسی ها</span>
            </a>
        </div>
    </div>
</div>