<div class="toolbar" id="kt_toolbar">
    <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
        <div class="d-flex align-items-center me-3">
            <h1 class="d-flex align-items-center text-dark fw-bolder my-1 fs-3">@ViewBag.Title</h1>
        </div>
        <div class="d-flex align-items-center gap-2 gap-lg-3">
            <button type="button" onclick="GetBack()" class="btn btn-outline btn-outline-dark">
                <i class="bi bi-arrow-right"></i>
                <span>بازگشت</span>
            </button>
            <button type="submit" class="btn btn-success" data-kt-docs-action="submit">
                <span class="indicator-label">
                    <i class="bi bi-save"></i>
                    <span>ذخیره</span>
                </span>
                <span class="indicator-progress">
                    لطفا صبر کنید...
                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                </span>
            </button>
        </div>
    </div>
</div>