<div class="menu-item">
    <a class="menu-link" href="/">
        <span class="menu-icon">
            <i class="bi bi-house fs-3"></i>
        </span>
        <span class="menu-title">داشبورد</span>
    </a>
</div>
<div class="menu-item">
    <a class="menu-link" href="/requests">
        <span class="menu-icon">
            <i class="bi bi-list fs-3"></i>
        </span>
        <span class="menu-title">درخواست ها</span>
    </a>
</div>
<div class="menu-item">
    <a class="menu-link" href="/chat">
        <span class="menu-icon">
            <i class="bi bi-chat fs-3"></i>
        </span>
        <span class="menu-title">اتاق مذاکره</span>
    </a>
</div>